body {
  margin: 0;
}
.primary {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logout-button.ant-btn {
  color: #e05d5d;
}
.logout-button.ant-btn:hover,
.logout-button.ant-btn:focus-visible {
  color: #ff7a7a;
}
